.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-left: -80px;
    
    
}


.profile-content-container {
    width: 700px;
    border: 1px solid grey;
}


.user-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    border-bottom: 1px solid grey;
}


.user-container img {
    width: 80px;
}


.user-container-username {
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
}


.user-info-container {
    display: flex;
    justify-content: space-between;
}


.edit-user-btn {
    height: 40px;
    width: 110px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 3px 2px rgba(128, 128, 128, 0.562);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


.edit-user-btn:hover {
    background-color: rgba(128, 128, 128, 0.322);
}


.profile-container-interactions-selection {
    display: flex;
    gap: 50px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: -10px;
}


.profile-container-interactions-selection > div {
    color: rgba(0, 0, 0, 0.925);
    padding: 10px;
}

.profile-container-interactions-selection > div:hover {
    background-color: rgba(97, 97, 97, 0.555);
}


.profile-content {
    padding: 20px 30px;
}


.active-section {
    font-weight: bold;
    color: rgb(0, 0, 0) !important;
    text-decoration: underline;
}